<!-- HTML Astro Framework--> 

<div class="social">
  <h2>
    Síguenos en Redes Sociales
  </h2>
  <div class="social__icons">
    <a href="#" target="_blank">
      <img src="https://iimgvjzkjpogzlreaoya.supabase.co/storage/v1/object/sign/justmkt/facebook-Medicos-Sin-Frontera.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJqdXN0bWt0L2ZhY2Vib29rLU1lZGljb3MtU2luLUZyb250ZXJhLnN2ZyIsImlhdCI6MTY5OTk4ODY0NywiZXhwIjoyMDE1MzQ4NjQ3fQ.q6YpsQvVjLI3hLC4O14IJgF27yrtzLGnMynByA6Ztqs" alt="facebook Medicos Sin Fronteras">
    </a>
    <a href="#" target="_blank">
      <img src="https://iimgvjzkjpogzlreaoya.supabase.co/storage/v1/object/sign/justmkt/linkedin-Medicos-Sin-Frontera.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJqdXN0bWt0L2xpbmtlZGluLU1lZGljb3MtU2luLUZyb250ZXJhLnN2ZyIsImlhdCI6MTY5OTk4ODkyMSwiZXhwIjoxNzMxNTI0OTIxfQ.1Suxi9JxQZ5JTBIodlgpnDqVrpEE7TQ9Naa-tk7K1QY&t=2023-11-14T19%3A08%3A41.364Z" alt="linkedin Medicos Sin Fronteras">
    </a>
    <a href="#" target="_blank">
      <img src="https://iimgvjzkjpogzlreaoya.supabase.co/storage/v1/object/sign/justmkt/twiter-medicos-Sin-Frontera.svg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJqdXN0bWt0L3R3aXRlci1tZWRpY29zLVNpbi1Gcm9udGVyYS5zdmciLCJpYXQiOjE2OTk5ODk0MDAsImV4cCI6MTczMTUyNTQwMH0.IZCGxAwTtA_2ZpWd1QxFy6S1kZ1EXNWJJLh0v8_croc&t=2023-11-14T19%3A16%3A40.585Z" alt="Twitter Medicos Sin Fronteras">
    </a>
  </div>
</div>

<!-- CSS Astro Framework--> 

<style>

.social {
  padding: 10vh 15vw;
}

.social__icons img {
  margin-top: 5vh;
  margin-right: 2vw;
}

/**Media queries Mobile */

@media screen and (max-width: 480px) {
  .social h2 {
    text-align: center;
  }

  .social__icons{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>